In [1]:
import graphlab

code created
code created

In [27]:
a = graphlab.SFrame()

In [28]:
a['cost']=[1,2,3,1]

In [29]:
a

Columns:
	cost	int

Rows: 4

Data:
+------+
| cost |
+------+
|  1   |
|  2   |
|  3   |
|  1   |
+------+
[4 rows x 1 columns]

In [30]:
a['type']=[1,2,1,2]

In [31]:
a

Columns:
	cost	int
	type	int

Rows: 4

Data:
+------+------+
| cost | type |
+------+------+
|  1   |  1   |
|  2   |  2   |
|  3   |  1   |
|  1   |  2   |
+------+------+
[4 rows x 2 columns]

In [32]:
b=[1,-1,1,1,1,-1,1]

In [33]:
sum([1 if x==1 else 0 for x in b])

5

In [34]:
a['word_count']=[{'hello':2,'bad':2},{'hello':12,'bad':12},{'hi':6,'hello':2,'bad':2},{'hello':5,'bad':2,'there':5}]

In [35]:
a

Columns:
	cost	int
	type	int
	word_count	dict

Rows: 4

Data:
+------+------+-------------------------------+
| cost | type |           word_count          |
+------+------+-------------------------------+
|  1   |  1   |     {'bad': 2, 'hello': 2}    |
|  2   |  2   |    {'bad': 12, 'hello': 12}   |
|  3   |  1   | {'bad': 2, 'hi': 6, 'hello... |
|  1   |  2   | {'bad': 2, 'there': 5, 'he... |
+------+------+-------------------------------+
[4 rows x 3 columns]

In [36]:
a['hello'] = a['word_count'].apply(lambda x : 'hello' in x)

In [37]:
def awesome_count(x):
    if 'hello' in x:
        return x['hello']
    else:
        return

Columns:
	cost	int
	type	int
	word_count	dict
	hello	int

Rows: 4

Data:
+------+------+-------------------------------+-------+
| cost | type |           word_count          | hello |
+------+------+-------------------------------+-------+
|  1   |  1   |     {'bad': 2, 'hello': 2}    |   1   |
|  2   |  2   |    {'bad': 12, 'hello': 12}   |   1   |
|  3   |  1   | {'bad': 2, 'hi': 6, 'hello... |   1   |
|  1   |  2   | {'bad': 2, 'there': 5, 'he... |   1   |
+------+------+-------------------------------+-------+
[4 rows x 4 columns]

In [24]:
a = graphlab.SArray([1,1,1,1,1])

In [6]:
a.[2,3,1,2,3]

SyntaxError: invalid syntax (<ipython-input-6-2f831056009c>, line 1)

In [10]:
import numpy as np
a = graphlab.SArray(a.to_numpy()*[2,3,1,2,3])

In [12]:
sum(a)

11

In [13]:
a=a/11

In [14]:
a

dtype: float
Rows: 5
[0.18181818181818182, 0.2727272727272727, 0.09090909090909091, 0.18181818181818182, 0.2727272727272727]

In [16]:
weights=[2,3,1]

In [25]:
a = a.to_numpy()

In [27]:
for i in range(3):
    a+=np.array([1,2,1,2,1])*weights[i]
    print a

[3 5 3 5 3]
[ 6 11  6 11  6]
[ 7 13  7 13  7]

In [22]:
np.array([1,2,1,2,1])*1

array([1, 2, 1, 2, 1])

In [34]:
a=np.array([1,1,1,1,1])

In [35]:
a

array([1, 1, 1, 1, 1])

In [36]:
b = np.array([1,2,1,2,1])

In [37]:
b

array([1, 2, 1, 2, 1])

In [38]:
[a[i]+b[i]*2 for i in range(len(a))]

[3, 5, 3, 5, 3]

In [39]:
a

array([1, 1, 1, 1, 1])

In [43]:
a = a + np.multiply([2,3,2,3,2],3)

In [44]:
a

array([ 7, 10,  7, 10,  7])

In [46]:
np.array([True,True]).sum()

2